
    <div class="float-end d-none d-sm-block">
        <strong>Version:</strong> 1.0.0
    </div>
    <div class="text-start">
         {{ es_copyright | raw }}. {{ app_name }}
        <a href="mailto:{{ es_contact_mail }}">{{ es_contact_name }}</a>.
    </div>
